<footer class="site-footer" role="contentinfo">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="brand">{{ site.title }}</a>
    <ul class="nav">
      <li><a href="{{ site.baseurl }}/consulting/">Consulting</a></li>
      <li><a href="{{ site.baseurl }}/presentions/">Presentions</a></li>
      <li><a href="{{ site.baseurl }}/publications/">Publications</a></li>
      <li><a href="{{ site.baseurl }}/about/">About</a></li>
    </ul>
    <div class="contact">
      <span itemprop="name" class="name">JRM Consulting Inc.</span>
      <div itemprop="address" itemscope="" itemtype="http://schema.org/Organization">
        <span class="street-address" itemprop="streetAddress">5421 Kipling Ln</span>
        <span class="locality" itemprop="addressLocality">Carlsbad</span>,
        <span class="region" itemprop="addressRegion">CA </span>
        <span class="postal-code" itemprop="postalCode">92008</span>
      </div>
      <span class="tel" itemprop="telephone">760-930-9223</span>
      <p><a href="mailto:joe@joematthews.com" class="email" itemprop="email">joe@joematthews.com</a></p>
    </div>
  </div>
</footer>
