<header class="site-header" role="banner">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="brand">
      <img src="{{ site.baseurl }}/assets/img/joe.jpg" class="avatar"> {{ site.title }}
    </a>
    <nav class="site-nav" id="site-nav" role="navigation">
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/consulting/">Consulting</a></li>
        <li><a href="{{ site.baseurl }}/presentions/">Presentions</a></li>
        <li><a href="{{ site.baseurl }}/publications/">Publications</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
      </ul>
    </nav>
    <button type="button" class="site-nav-control open-site-nav" id="site-nav-control"></button>
  </div>
</header>
