.clients{
  @extend .unstyled-list;
  display: flex;
  flex-wrap: wrap;

  li{
    width: 33.333%;
    margin-bottom: 2rem;
    text-align: center;
    flex-grow: 1;

    @media screen and (#{$bp-larger-than-tablet}){
      width: 20%;
      margin-bottom: 0;
    }

    img{
      @extend .responsive-img;
      max-height: 4.5rem;
    }
  }
}
