.site-footer{
  background-color: $primary-color;
  color: darken($accent-color, 15%);

  a{
    color: darken($accent-color, 15%);
  }

  .brand{
    display: block;
    font-size: 1rem;
  }

  .nav{
    width: auto;
    margin-top: 1.5rem;
    font-size: .875rem;

    @media screen and (#{$bp-larger-than-tablet}){
      float: left;
      width: 60%;
    }

    li{
      display: block;
      text-align: left;

      a{
        margin-top: 0;
        margin-left: 0;
        margin-bottom: .5rem;
      }
    }
  }

  .contact{
    margin-top: 3rem;

    @media screen and (#{$bp-larger-than-tablet}){
      float: left;
      width: 40%;
      margin-top: 1.5rem;
    }
  }
}
