.site-nav{
  position: fixed;
  top: 8rem;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 2rem 0 1rem;
  background: $primary-color;
  z-index: 999;
  opacity: .97;
  transition: left .2s ease-in-out;

  @media screen and (#{$bp-larger-than-tablet}){
    position: static;
    float: right;
    width: auto;
    height: auto;
    margin-top: .875rem;
    padding: 0;
    background: none;
    border-top: 0;
    opacity: 1;
  }

  &.open{
    left: 0;
  }
}

.nav{
  @extend .unstyled-list;
  width: 80%;
  margin: auto;

  @media screen and (#{$bp-larger-than-tablet}){
    width: auto;
  }

  li{
    text-align: center;

    @media screen and (#{$bp-larger-than-tablet}){
      display: inline-block;
    }
  }

  a{
    display: block;
    margin-top: 2rem;
    color: $font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $secondary-color;

    @media screen and (#{$bp-larger-than-tablet}){
      margin-top: 0;
      margin-left: 1.5rem;
      color: $primary-color;
    }

    @media screen and (#{$bp-larger-than-desktop}){
      margin-left: 3rem;
    }

    &.active{
      color: $accent-color;
    }
  }
}

.site-nav-control {
  display: inline-block;
  float: right;
  height: auto;
  margin-top: .5rem;
  //padding: .375rem 1rem;
  background: transparent;
  border: 0;
  color: $primary-color;
  font-family: $secondary-font-family;
  font-size: 1.5rem;

  @media screen and (#{$bp-larger-than-tablet}){
    display: none;
  }
}

.open-site-nav:before {
  content: '\2630';
}

.close-site-nav:before {
  content: '\00D7';
}
